{% extends 'base.html.twig' %}

{% block title %}TinyPuppy index{% endblock %}

{% block body %}
    <h1>TinyPuppy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tiny_puppy in tiny_puppies %}
            <tr>
                <td>{{ tiny_puppy.id }}</td>
                <td>{{ tiny_puppy.name }}</td>
                <td>{{ tiny_puppy.code }}</td>
                <td>
                    <a href="{{ path('tiny_puppy_show', {'id': tiny_puppy.id}) }}">show</a>
                    <a href="{{ path('tiny_puppy_edit', {'id': tiny_puppy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tiny_puppy_new') }}">Create new</a>
{% endblock %}
